// Variables
$text_color: #FA7D10
$web_background_color: #150D07
$hover_color: #f5f5f5
$gray_background_color:  #282726
$transparent_black: rgba(0, 0, 0, 0.7)
$content_background_color: #343940
$table_background_color: rgba(0, 0, 0, 0.5)
$input_background_color: #d3d8de
$tooltip-color: red

@mixin no_input_arrows
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button
      -webkit-appearance: none


@mixin default_font
  color: $text_color
  font-family: 'Bitter', serif
  font-size: 1rem


@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args


/*  End Vairables */

html
  max-width: 1400px
  margin: auto

body
  @include default_font
  border-radius: 10px
  background-color: $web_background_color
  border-radius: 10px

a:hover
  color: $hover_color

/*  Navigation Start */
nav
  background-color: $gray_background_color
  min-height: 80px

  a
    color: $text_color

  #nav_form
    width: 100%
    position: absolute

  .nav-item
    padding-left: 5px
    padding-right: 5px
    margin-right:5px
    margin-left:5px


/* Navigation End */


/* Index Page Jumbotron */
#index_banner
  min-height: 400px
  background-size: 400px
  background-image: url("/assets/main_banner.jpg")
  background-repeat: no-repeat
  background-size: cover
  position: relative

  h1
    background-color: $transparent_black
    width: 100%
    position: absolute
    bottom: 0
    padding: 20px 0px 20px 40px

/* Index Page Jumbotron End */

/* Index Page Main Content */
#main_content
  padding-top: 40px
  padding-bottom: 40px
  background-color: $gray_background_color

  #main_content_row1
    padding-left: 5px
    padding-right: 5px

    .card
      margin: auto
      color: $text_color
      min-height: 500px
      text-transform: uppercase
      border: none

      .card-body
        padding: 0px

        &:hover
          cursor: pointer
          .overlay
            background-color: $transparent_black
            height: 600px
            h2
              padding-top: 250px

        .overlay
            margin: auto
            height: 60px
            padding: 10px 0px 0px 0px
            @include transition(height 2s ease)
            background-color: $transparent_black
            width: 100%

            h2
              margin-bottom: 0px
              font-weight: bolder
              @include transition(padding-top 2s ease)

#cooking_card
  background-image: url("../assets/bdo_cooking.jpg")
  background-repeat: no-repeat
  background-size: cover

#processing_card
  background-image: url("../assets/bdo_processing.jpg")
  background-repeat: no-repeat
  background-size: cover

#alchemy_card
  background-image: url("../assets/bdo_alchemy.jpg")
  background-repeat: no-repeat
  background-size: cover



/* Index Page Main Content End */

/* Footer */
.footer
  visibility: hidden
  /* Footer End */


/* Calculator Pages   */

  /* Calculator Jumbotron   */
#calc_jum
  background-color: $content_background_color

  #calc_search_bar
    margin: auto

    form
      display: block
      padding-top: 20px

  /* Calculator Jumbotron End   */

  /* Calculator Main Content   */

#calculator_main_content
  padding-top: 40px
  padding-bottom: 40px

  #pagination_controls
    height: 30px
    float: right
    margin-bottom: 5px
    margin-top: -10px
    border-radius: 10px

    .pagination_link
      background-color: #282726
      padding: 5px 10px 5px 10px
      vertical-align: middle
      border: 2px solid $text_color
      border-right: none

      &:nth-last-child(1)
        border-right: 2px solid $text_color

      &:hover
        color: white
        border: 2px solid white

  #calculator_table

    thead
      tr
        background-color: $gray_background_color
        color: $text_color

    tbody

      tr
        border-bottom: 2px solid $input_background_color
        border-top: 2px solid $input_background_color
        border-left: 2px solid $input_background_color
        border-right: 2px solid $input_background_color

        &:nth-child(odd)
          background: $content_background_color
        &:nth-child(even)
          background: #282726

        td
          padding: 0px
          border-right: 2px solid $input_background_color
          vertical-align: middle

        a
          color: $text_color
          text-decoration: none
          display: block
          width: 100%
          padding: 1.05em

        &:hover
          background-color: rgba(0, 0, 0, 0.3)

          a
            color: white





  /* Calculator Main Content End   */
/* Calculator Pages End */

/* Detials Page */


  /* Top Page Container */
#proc_rates

  #proc_rates_row
    background-color: $transparent_black

    #craft_quantity
      margin: auto
      display: inline-block
      min-height: 50px
      padding-top: 20px
      text-transform: uppercase

      p
        padding-right: 10px

      #craft_quantity_input
        width: 150px
        height: 25px
        text-align: right
        padding-right: 10px
        background-color: $input_background_color

      @include no_input_arrows

    #tier1_proc
      margin: auto
      min-height: 50px
      padding-top: 20px
      text-transform: uppercase

      p
        padding-right: 10px

      input
        width: 150px
        height: 25px
        padding-right: 10px
        text-align: right
        background-color: $input_background_color

      @include no_input_arrows

    #tier2_proc
      margin: auto
      min-height: 50px
      padding-top: 20px
      text-transform: uppercase

      p
        padding-right: 10px

      input
        width: 150px
        height: 25px
        text-align: right
        padding-right: 10px
        background-color: $input_background_color

      @include no_input_arrows

  /* Top Page Container End */

  /* Jumbotron */

#details_jum
  background-color: $content_background_color

  #recipeImage
    padding-top: 5px
    padding-bottom: 25px

  #recipe_materials
    background-color: $table_background_color

    table
      width: 100%
      margin: auto
      color: $text_color

      #recipe_quantity
        padding-right: 20px
        width: 25%

      #material_name
        padding-left: 75px


  /* Jumbotron End */

  /* Calculations Container  */
#calculations_container
  margin-bottom: 40px

  #t1
    padding-left: 15px
    padding-right: 15px

  #t2
    padding-left: 15px
    padding-right: 15px

  #first_table_container
    width: 100%

    .table_title
      background-color: $transparent_black
      text-align: center
      padding: 10px 0px 10px 0px
      margin-bottom: 0px

    #first_table
        color: $text_color
        margin: auto
        background-color: $table_background_color

        thead
          border-bottom: 4px solid #2c323a

        #total_cost_head
          width: 20%

        #image_head
          width: 1%

        td
          vertical-align: middle

        input
          width: 100%
          text-align: left
          background-color: $input_background_color

        @include no_input_arrows

  #second_table_container
    width: 100%

    .table_title
      background-color: $transparent_black
      text-align: center
      padding: 10px 0px 10px 0px
      margin-bottom: 0px

    #second_table
      color: $text_color
      margin: auto
      background-color: $table_background_color

      thead
        border-bottom: 4px solid #2c323a

      input
        width: 100%
        height: 25px
        text-align: left
        margin: auto
        background-color: $input_background_color

      @include no_input_arrows
  /* Calculations Container End */



/* Media Queries */
@media screen and (min-width : 320px) and (max-width : 575px)
  .flex_table
    padding-right:0
    padding-left:0

  #image_row
    display: none

  #profit_image_row
    display: none

  #image_head
    display: none

  .filler_1
    display: none

@media screen and (max-width : 768px)
    #first_table
      thead
        font-size: 0.8rem
      tbody
        font-size: 0.8rem

    #second_table
      thead
        font-size: 0.8rem
      tbody
        font-size: 0.8rem

    #second_table_container
      margin-top: 15px

    #image_row
      display: none

    #profit_image_row
      display: none

    #image_head
      display: none

    .filler_1
      display: none


@media screen and (min-width : 769px) and (max-width : 1140px)
  #first_table

    tbody
      font-size: 0.85rem

@media screen and (min-width : 769px) and (max-width : 991px)
  #second_table_container
    margin-top: 15px

/* Media Queries End */

/* Detials Page End */
