/* Vairables */
$text_color: #FA7D10
$web_background_color: #150D07
$hover_color: #f5f5f5
$gray_background_color:  #282726
$transparent_black: rgba(0, 0, 0, 0.7)
$content_background_color: #343940
$table_background_color: rgba(0, 0, 0, 0.5)
$input_background_color: #d3d8de
$tooltip-color: red
/*  End Vairables */

/*  Mixins */
@mixin no_input_arrows
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button
      -webkit-appearance: none


@mixin default_font
  color: $text_color
  font-family: 'Bitter', serif
  font-size: 1rem


@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

/*  Mixins End */

/*  All Pages */
html
  max-width: 1400px
  margin: auto
  scroll-behavior: smooth

body
  @include default_font
  border-radius: 10px
  background-color: $web_background_color
  border-radius: 10px

a:hover
  color: $hover_color
/* All Pages End */

/* Navigation */
nav
  background-color: $gray_background_color
  min-height: 80px
  
  #logo
    margin-right: 20px
    
    /* Search Bar */
  #nav_form
    width: 92%
    position: absolute
        
    input
      background-color: $input_background_color
      
  .dropdown-menu
    padding: 0px
    max-height: 200px
    overflow-y: auto
    background-color: $input_background_color
    width: inherit
    
    span
      display: block
      width: 100%
      height: 100%
      
      &:hover
        cursor: pointer
    
    li
      border-bottom: 2px solid $content_background_color
      padding-bottom: 5px
      padding-top: 5px
      
      &:hover
        background-color: $hover-color
      
      &:first-child
        margin-top: -1px
                  
      img
        padding-left: 15px
      
      a
        padding-left: 30px
        font-size:  0.75rem
        text-decoration: none
        
        &:hover
          color: $text-color
          
    /* Search Bar End */
    
    /* Navigation Links */
  a
    color: $text_color

  .nav-item
    padding-left: 5px
    padding-right: 5px
    margin-right: 5px
    margin-left:  5px
      
  #collapse_list_container
    clear: both
    
  #collapse_button
    margin-right: 5px
    
  /* Navigation Links End */  
    

/* Navigation End */

/*////////////////////////////// Index Page //////////////////////////////*/
/* Index Page Jumbotron */
#index_banner
  min-height: 400px
  background-size: 400px
  background-image: url("/assets/main_banner.jpg")
  background-repeat: no-repeat
  background-size: cover
  position: relative

  h1
    background-color: $transparent_black
    width: 100%
    position: absolute
    bottom: 0
    padding: 20px 0px 20px 40px

/* Index Page Jumbotron End */

/* Index Page Main Content */
#main_content
  padding-top: 40px
  padding-bottom: 40px
  background-color: $gray_background_color

  #main_content_row1
    padding-left: 5px
    padding-right: 5px

    .card
      margin: auto
      color: $text_color
      min-height: 500px
      text-transform: uppercase
      border: none

      .card-body
        padding: 0px

        &:hover
          box-shadow: 0 4px 20px 0 $text_color, 0 6px 20px 0 $text_color
          cursor: pointer
          .overlay
            background-color: $transparent_black
            height: 600px
            h2
              padding-top: 250px

        .overlay
            margin: auto
            height: 60px
            padding: 10px 0px 0px 0px
            @include transition(height 2s ease)
            background-color: $transparent_black
            width: 100%

            h2
              margin-bottom: 0px
              font-weight: bolder
              @include transition(padding-top 2s ease)

#cooking_card
  background-image: url("../assets/bdo_cooking.jpg")
  background-repeat: no-repeat
  background-size: cover

#processing_card
  background-image: url("../assets/bdo_processing.jpg")
  background-repeat: no-repeat
  background-size: cover

#alchemy_card
  background-image: url("../assets/bdo_alchemy.jpg")
  background-repeat: no-repeat
  background-size: cover

/* Index Page Main Content End */
/*////////////////////////////// Index Page End //////////////////////////////*/





/*////////////////////////////// Calculator Pages //////////////////////////////*/

  /* Calculator Jumbotron   */
#calc_jum
  background-color: $content_background_color

  #calc_search_bar
    margin: auto

    form
      display: block
      padding-top: 20px
      
      input
        background-color: $input_background_color

  /* Calculator Jumbotron End   */

/* Calculator Main Content   */

#calculator_main_content
  padding-top: 40px
  padding-bottom: 40px

  /* Pagination Buttons */
#pagination_controls  
  height: 30px
  float: right
  margin-bottom: 5px
  margin-top: -10px

  .pagination_link
    background-color: $text_color
    padding: 5px 10px 20px 10px
    vertical-align: middle
    color: #282726
    border-radius: 10px
    margin-right: 3px
    position: relative

    &:hover
      color: $text_color
      background-color: #282726
      
#pagination_controls_2
  height: 30px
  float: right
  margin-bottom: 10px
  margin-top: -25px

  .second_pagination_link
    background-color: $text_color
    padding: 20px 10px 5px 10px
    vertical-align: middle
    color: #282726
    border-radius: 10px
    margin-right: 3px
    float: left

    &:hover
      color: $text_color
      background-color: #282726
    /* Pagination Buttons End */
    
    /* Calculator Tables */  
#calculator_table
  position: relative

  thead
    
    tr
      background-color: $gray_background_color
      color: $text_color

  tbody

    tr
      border-bottom: 2px solid $input_background_color
      border-top: 2px solid $input_background_color
      border-left: 2px solid $input_background_color
      border-right: 2px solid $input_background_color

      &:nth-child(odd)
        background: $content_background_color
      &:nth-child(even)
        background: #282726

      td
        padding: 0px
        border-right: 2px solid $input_background_color
        vertical-align: middle

      a
        color: $text_color
        text-decoration: none
        display: block
        width: 100%
        padding: 1.05em

      &:hover
        background-color: $input_background_color

        a
          color: white
          
  /* Calculator Tables End*/


  /* Calculator Main Content End */
/*////////////////////////////// Calculator Pages End //////////////////////////////*/





/*////////////////////////////// Recipe Pages //////////////////////////////*/
  /* Top Page Container */
#proc_rates_row
  background-color: $transparent_black

  #craft_quantity
    margin: auto
    display: inline-block
    min-height: 50px
    padding-top: 20px
    text-transform: uppercase

    p
      padding-right: 10px

    #craft_quantity_input
      width: 150px
      height: 25px
      text-align: right
      padding-right: 10px
      background-color: $input_background_color

    @include no_input_arrows

  #tier1_proc
    margin: auto
    min-height: 50px
    padding-top: 20px
    text-transform: uppercase

    p
      padding-right: 10px

    input
      width: 150px
      height: 25px
      padding-right: 10px
      text-align: right
      background-color: $input_background_color

    @include no_input_arrows

  #tier2_proc
    margin: auto
    min-height: 50px
    padding-top: 20px
    text-transform: uppercase

    p
      padding-right: 10px

    input
      width: 150px
      height: 25px
      text-align: right
      padding-right: 10px
      background-color: $input_background_color

    @include no_input_arrows

  /* Top Page Container End */

  /* Jumbotron */

#details_jum
  background-color: $content_background_color

#recipeImage
  padding-top: 5px
  padding-bottom: 25px

#recipe_materials
  background-color: $table_background_color

  table
    width: 100%
    margin: auto
    color: $text_color

    #recipe_quantity
      padding-right: 20px
      width: 25%

    #material_name
      padding-left: 75px


  /* Jumbotron End */

  /* Calculations Container */
#calculations_container
  margin-bottom: 40px
  border-radius: .3rem
  
  table
    margin-bottom: 0px
  
  .title_container
    padding: 20px
    background-color: $transparent_black
    border-radius: 10px 10px 0px 0px
    
  .table_title
    margin-bottom: 0px
    height: 15%
    
  thead
    background-color: rgba(0, 0, 0, 0.55)
    color: white
    border-bottom: 4px solid white
    font-size: .95rem
    font-style: oblique
    
  tbody
    background-color: $table_background_color
    color: $text_color
    
  tr
    display:  flex
    &:last-child
      border-bottom: 0px
    
  .table_bottom
    padding: 10px
    background-color: $transparent_black
    border-radius: 0px 0px 10px 10px
    
  td
    align-self: center
    
  #total_profit_text,  #total_cost_text
    font-size: 1rem
    white-space: nowrap
    font-style: oblique
    color: white
    
  #total_recipe_profit, #total_recipe_cost
    color: white
    font-style: oblique
    

  /* Costs Table */
  
#costs_table_container
  width: 100%
  font-size: 0.8rem
  
  tr
    border-bottom: 4px solid #2c323a

  td
    vertical-align: middle

  input
    text-align: right
    background-color: $input_background_color

  @include no_input_arrows

/* Costs Table End*/

/* Profits Table */
#profits_table_container
  width: 100%
  font-size: 0.8rem

  tr
    border-bottom: 4px solid #2c323a
    
  td
    vertical-align: middle

  input
    height: 25px
    background-color: $input_background_color

  @include no_input_arrows
      
  /* Profits Table End */
/* Calculations Container End */
  
/*////////////////////////////// Recipe Pages End //////////////////////////////*/


/*////////////////////////////// Media Queries //////////////////////////////*/
@media screen and (min-width : 320px) and (max-width : 575px)
    /* Index Page */
    #cooking_col
      margin-bottom: 10px
      
    #processing_col
      margin-bottom: 10px

      
    /* Index Page End */

    /* Recipe Pages */
    #costs_col, #profits_col
      padding-right: 0px
      padding-left: 0px

    /* Recipe Pages End */

@media screen and (max-width : 768px)
  /* Navigation */
  nav
    .dropdown-menu
      margin-left: 10px
      
      span
        display: inline-flex
      
        img
          display: none
        
        a
          float: left
    
    #collapse_container
      max-width: 1%
      
    #nav_form
      padding-left: 10px
    
    /* Navigation End*/

  .image_row, .image_head
    display: none
    width: 0
    height: 0
    opacity: 0
    visibility: collapse
    max-width: 0%

@media screen and (min-width : 769px) and (max-width : 1140px)
  #collapse_container
    max-width: 1%
    
  .image_row, .image_head
    display: none
    width: 0
    height: 0
    opacity: 0
    visibility: collapse
    max-width: 0%

@media screen and (max-width : 991px)
  nav
    .dropdown-menu
      li
        img
          padding-left: 5px
        
        a
          padding-left: 10px

  #collapse_container
    max-width: 1%
    
  #profits_table_container
    margin-top: 10px

/*////////////////////////////// Media Queries End //////////////////////////////*/

