html {
  max-width: 1400px;
  margin: auto;
}
body{
  border-radius: 10px;
background-color: #150D07;
  color: #FA7D10;
  font-family: 'Bitter', serif;
  font-size: 1rem;
}
nav{
background-color: #282726;
}
.jumbotron{
  background-color: #343940;
}
/* Navigation */
#navigation{
  min-height: 60px;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-right:5px;
  margin-left:5px;
}
nav{
  border-bottom: 5px solid black;
}
a{
  color: #FA7D10;
}
a:hover{
  color: white;
}
#navigation #test{
  position: absolute;
  width: 100%;
}

/* End Navigation */


/* Jumbotron */
#main_banner{
  min-height: 400px;
  background-size: 400px;
  width: auto;
  height: auto;
  background-image: url("/assets/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#main_banner h1{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 0px 20px 40px;
}

/* End Jumbotron */

/* Main Content */
#main_content{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #282726;
  text-decoration: uppercase;
}

.card{
  margin: auto;
  color: #FA7D10;
  min-height: 500px;
  text-transform: uppercase;
  border: none;
}
.card h2{
  font-weight: bolder;
  -webkit-transition: padding-top 2s; /* Safari */
  transition: padding-top 2s;
}
.card-body{
  padding: 0px;
}
.overlay{
  margin: auto;
  height: 60px;
  padding: 10px 0px 0px 0px;
  -webkit-transition: height 2s; /* Safari */
  transition: height 2s;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.card-body:hover .overlay{
  background-color: rgba(0, 0, 0, 0.7);
  height: 600px;
}
.card-body:hover h2{
  padding-top: 250px;
}
.card-body:hover{
  cursor:pointer;
}
.card-title{
  margin-bottom: 0px;
}
#main_content_row1{
  padding-left: 5px;
  padding-right: 5px;
}
#cooking_card{
  background-image: url("../assets/bdo_cooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#processing_card{
  background-image: url("../assets/bdo_processing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#alchemy_card{
  background-image: url("../assets/bdo_alchemy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



/* Main Content Ends */


/* Footer */
.footer{
  visibility: hidden;
}





/* Calculator Pages  CSS */
#calc_search_bar{
    margin: auto;
}
#calc_search_bar form{
  display: block;
  padding-top: 20px;
}
#calculator_table thead tr{
  background-color: white;
  color: black;
}
#calculator_table tbody tr:hover {
  background-color: #f5f5f5;
}
#calculator_main_content table td{
  padding: 0px;
}
#calculator_main_content table a{
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.05em;
}
#calculator_main_content table a:hover{
  color: white;
  text-decoration: underline;
}
#calculator_main_content table td:nth-child(1){
  vertical-align: middle;
}
#calculator_main_content table tbody tr:nth-child(even) {
  background: #282726;
}
#calculator_main_content table tbody tr:nth-child(odd){
  background: #343940;
}
#calculator_main_content{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #343940;
}















/* Calculator Pages Css End */




/* Details Pages  CSS */
#recipeImage{
  padding-top: 5px;
  padding-bottom: 25px;
}
#recipe_materials table{
  width: 100%;
  margin:auto;
  color: #FA7D10;
  padding-left: -20px;
  padding-right: -20px;
}
#recipe_materials{
  background-color: rgba(0, 0, 0, 0.5);
}

#proc_rates_row{
    background-color: #282726;
    text-decoration: uppercase;
}
#craft_quantity{
  margin: auto;
  display: inline-block;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#craft_quantity p{
  padding-right: 10px;
}
#craft_quantity input{
  width: 150px;
  height: 25px;
  text-align: right;
}
#tier1_proc{
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#tier1_proc p{
  padding-right: 10px;
}
#tier1_proc input{
  width: 150px;
  height: 25px;
  text-align: right;
}
#tier2_proc{
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#tier2_proc p{
  padding-right: 10px;
}
#tier2_proc input{
  width: 150px;
  height: 25px;
  text-align: right;
}
#calculations_container{
  margin-bottom: 40px;
}
#calculations_container #first_table, #second_table{
  width: 100%;
}
#calculations_container table{
  color: #FA7D10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

}
.table_title{
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}
.recipe_market_price{
  width: 100%;
  height: 25px;
  text-align: right;
  margin: auto;
}
#costs_table{
  width: 100%;
}
#costs_table thead{
  background-color: rgba(0, 0, 0, 0.5);
}
#costs_table_container table{
  color: #FA7D10;
}
#costs_table_container{
  margin: auto;
}
#costs_table input{
    text-align: right;
}
#sub_materials_costs{
  margin: auto;
}



/* Details Pages Css End */



/* Footer Ends */
/* Media Queries */
@media (max-width 992px) {
html{
font-size: 1.2rem;
}
}

@media (max-width 768px) {
html{
font-size: 0.1rem;
}
}

@media (max-width 576px) {
  html{
font-size: 0.85rem;
  }
}
