html {
  background-color: #001628;
  max-width: 1400px;
  margin: auto;
}
body{
  border-radius: 10px;
}
/* Navigation */
#search_bar{
  width: 100%;
}
#navigation{
  min-height: 60px;
}
#ul_container{
  padding-right: 50px;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-right:5px;
  margin-left:5px;
}
nav{
  border-bottom: 5px solid black;
}
#journal_dropdown{
  float: right;
}
#timer_dropdown{
  float: right;
}
/* End Navigation */


/* Jumbotron */
#main_banner{
  min-height: 400px;
  background-size: 400px;
  width: auto;
  height: auto;
  background-image: url(/assets/JapaneseTempleRain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* End Jumbotron */

/* Main Content */
#main_content{
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-img-top{
      width: 10vh;
      height: 10vh;
      object-fit: cover;
      margin: auto;
}
.card{
  padding-top: 10px;
  background-color: #BBBBBC;
}
#main_content_row2{
  padding-top: 40px;
}
#main_content_row3{
  padding-top: 40px;
}

/* Main Content Ends */


/* Footer */
.footer{
  visibility: hidden;
}





/* Calculator Pages  CSS */
#calc_search_bar{
margin: auto;
}













/* Calculator Pages Css End */

/* Footer Ends */
/* Media Queries */
@@media (max-width 992px) {

}

@@media (max-width 768px) {

}

@@media (max-width 576px) {
  #main_content_row2{
    padding-top: 0px;
  }
}
