/* Vairables */
/*  End Vairables */
/*  Mixins */
/*  Mixins End */
/*  All Pages */
html {
  max-width: 1400px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  color: #FA7D10;
  font-family: "Bitter", serif;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #150D07;
  border-radius: 10px;
}

a:hover {
  color: #f5f5f5;
}

/* All Pages End */
/* Navigation */
nav {
  background-color: #282726;
  min-height: 80px;
  /* Navigation Links End */  
}
nav #logo {
  margin-right: 20px;
  /* Search Bar */
}
nav #nav_form {
  width: 92%;
  position: relative;
}
nav #nav_form input {
  background-color: #d3d8de;
vertical-align: middle;
}
nav .dropdown-menu {
  padding: 0px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #d3d8de;
  width: inherit;
  /* Search Bar End */
  /* Navigation Links */
}
nav .dropdown-menu span {
  display: block;
  width: 100%;
  height: 100%;
}
nav .dropdown-menu span:hover {
  cursor: pointer;
}
nav .dropdown-menu li {
  border-bottom: 2px solid #343940;
  padding-bottom: 5px;
  padding-top: 5px;
}
nav .dropdown-menu li:hover {
  background-color: #f5f5f5;
}
nav .dropdown-menu li:first-child {
  margin-top: -1px;
}
nav .dropdown-menu li img {
  padding-left: 15px;
}
nav .dropdown-menu li a {
  padding-left: 30px;
  font-size: 0.75rem;
  text-decoration: none;
}
nav .dropdown-menu li a:hover {
  color: #FA7D10;
}
nav a {
  color: #FA7D10;
}
nav .nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
nav #collapse_list_container {
  clear: both;
}
nav #collapse_button {
  margin-right: 5px;
}
#nav_inline_form{
flex-flow: nowrap;
}

/* Navigation End */
/*////////////////////////////// Index Page //////////////////////////////*/
/* Index Page Jumbotron */
#index_banner {
  min-height: 400px;
  background-size: 400px;
  background-image: url("/assets/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#index_banner h1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 0px 20px 40px;
}

/* Index Page Jumbotron End */
/* Index Page Main Content */
#main_content {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #282726;
}
#main_content #main_content_row1 {
  padding-left: 5px;
  padding-right: 5px;
}
#main_content #main_content_row1 .card {
  margin: auto;
  color: #FA7D10;
  min-height: 500px;
  text-transform: uppercase;
  border: none;
}
#main_content #main_content_row1 .card .card-body {
  padding: 0px;
}
#main_content #main_content_row1 .card .card-body:hover {
  box-shadow: 0 4px 20px 0 #FA7D10, 0 6px 20px 0 #FA7D10;
  cursor: pointer;
}
#main_content #main_content_row1 .card .card-body:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 600px;
}
#main_content #main_content_row1 .card .card-body:hover .overlay h2 {
  padding-top: 250px;
}
#main_content #main_content_row1 .card .card-body .overlay {
  margin: auto;
  height: 60px;
  padding: 10px 0px 0px 0px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
#main_content #main_content_row1 .card .card-body .overlay h2 {
  margin-bottom: 0px;
  font-weight: bolder;
  -webkit-transition: padding-top 2s ease;
  -moz-transition: padding-top 2s ease;
  -ms-transition: padding-top 2s ease;
  -o-transition: padding-top 2s ease;
  transition: padding-top 2s ease;
}

#cooking_card {
  background-image: url("../assets/bdo_cooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#processing_card {
  background-image: url("../assets/bdo_processing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#alchemy_card {
  background-image: url("../assets/bdo_alchemy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Index Page Main Content End */
/*////////////////////////////// Index Page End //////////////////////////////*/
/*////////////////////////////// Calculator Pages //////////////////////////////*/
 *
 * /* Calculator Jumbotron   */
#calc_jum {
  background-color: #343940;
  /* Calculator Jumbotron End   */
}
#calc_jum #calc_search_bar {
  margin: auto;
}
#calc_jum #calc_search_bar form {
  display: block;
  padding-top: 20px;
}
#calc_jum #calc_search_bar form input {
  background-color: #d3d8de;
}

/* Calculator Main Content   */
#calculator_main_content {
  padding-top: 40px;
  padding-bottom: 40px;
  /* Pagination Buttons */
}

#pagination_controls {
  height: 30px;
  float: right;
  margin-bottom: 5px;
  margin-top: -10px;
}
#pagination_controls .pagination_link {
  background-color: #FA7D10;
  padding: 5px 10px 20px 10px;
  vertical-align: middle;
  color: #282726;
  border-radius: 10px;
  margin-right: 3px;
  position: relative;
}
#pagination_controls .pagination_link:hover {
  color: #FA7D10;
  background-color: #282726;
}

#pagination_controls_2 {
  height: 30px;
  float: right;
  margin-bottom: 10px;
  margin-top: -25px;
}
#pagination_controls_2 .second_pagination_link {
  background-color: #FA7D10;
  padding: 20px 10px 5px 10px;
  vertical-align: middle;
  color: #282726;
  border-radius: 10px;
  margin-right: 3px;
  float: left;
  /* Pagination Buttons End */
  /* Calculator Tables */  
}
#pagination_controls_2 .second_pagination_link:hover {
  color: #FA7D10;
  background-color: #282726;
}

#calculator_table {
  position: relative;
  /* Calculator Tables End*/
  /* Calculator Main Content End */
}
#calculator_table thead tr {
  background-color: #282726;
  color: #FA7D10;
}
#calculator_table tbody tr {
  border-bottom: 2px solid #d3d8de;
  border-top: 2px solid #d3d8de;
  border-left: 2px solid #d3d8de;
  border-right: 2px solid #d3d8de;
}
#calculator_table tbody tr:nth-child(odd) {
  background: #343940;
}
#calculator_table tbody tr:nth-child(even) {
  background: #282726;
}
#calculator_table tbody tr td {
  padding: 0px;
  border-right: 2px solid #d3d8de;
  vertical-align: middle;
}
#calculator_table tbody tr a {
  color: #FA7D10;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.05em;
}
#calculator_table tbody tr:hover {
  background-color: #d3d8de;
}
#calculator_table tbody tr:hover a {
  color: white;
}

/*////////////////////////////// Calculator Pages End //////////////////////////////*/
/*////////////////////////////// Recipe Pages //////////////////////////////*/
 * /* Top Page Container */
#proc_rates_row {
  background-color: rgba(0, 0, 0, 0.7);
  /* Top Page Container End */
  /* Jumbotron */
}
#proc_rates_row #craft_quantity {
  margin: auto;
  display: inline-block;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates_row #craft_quantity p {
  padding-right: 10px;
}
#proc_rates_row #craft_quantity #craft_quantity_input {
  width: 150px;
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #d3d8de;
}
#proc_rates_row #craft_quantity input::-webkit-inner-spin-button,
#proc_rates_row #craft_quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#proc_rates_row #tier1_proc {
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates_row #tier1_proc p {
  padding-right: 10px;
}
#proc_rates_row #tier1_proc input {
  width: 150px;
  height: 25px;
  padding-right: 10px;
  text-align: right;
  background-color: #d3d8de;
}
#proc_rates_row #tier1_proc input::-webkit-inner-spin-button,
#proc_rates_row #tier1_proc input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#proc_rates_row #tier2_proc {
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates_row #tier2_proc p {
  padding-right: 10px;
}
#proc_rates_row #tier2_proc input {
  width: 150px;
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #d3d8de;
}
#proc_rates_row #tier2_proc input::-webkit-inner-spin-button,
#proc_rates_row #tier2_proc input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#details_jum {
  background-color: #343940;
}

#recipeImage {
  padding-top: 5px;
  padding-bottom: 25px;
}

#recipe_materials {
  background-color: rgba(0, 0, 0, 0.5);
  /* Jumbotron End */
  /* Calculations Container */
}
#recipe_materials table {
  width: 100%;
  margin: auto;
  color: #FA7D10;
}
#recipe_materials table #recipe_quantity {
  padding-right: 20px;
  width: 25%;
}
#recipe_materials table #material_name {
  padding-left: 75px;
}

#calculations_container {
  margin-bottom: 40px;
  border-radius: 0.3rem;
  /* Costs Table */
}
#calculations_container table {
  margin-bottom: 0px;
}
#calculations_container .title_container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0px 0px;
}
#calculations_container .table_title {
  margin-bottom: 0px;
  height: 15%;
}
#calculations_container thead {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  border-bottom: 4px solid white;
  font-size: 0.95rem;
  font-style: oblique;
}
#calculations_container tbody {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FA7D10;
}
#calculations_container tr {
  display: flex;
}
#calculations_container tr:last-child {
  border-bottom: 0px;
}
#calculations_container .table_bottom {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 10px 10px;
}
#calculations_container td {
  align-self: center;
}
#calculations_container #total_profit_text, #calculations_container #total_cost_text {
  font-size: 1rem;
  white-space: nowrap;
  font-style: oblique;
  color: white;
}
#calculations_container #total_recipe_profit, #calculations_container #total_recipe_cost {
  color: white;
  font-style: oblique;
}

#costs_table_container {
  width: 100%;
  font-size: 0.8rem;
}
#costs_table_container tr {
  border-bottom: 4px solid #2c323a;
}
#costs_table_container td {
  vertical-align: middle;
}
#costs_table_container input {
  text-align: right;
  background-color: #d3d8de;
}
#costs_table_container input::-webkit-inner-spin-button,
#costs_table_container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Costs Table End*/
/* Profits Table */
#profits_table_container {
  width: 100%;
  font-size: 0.8rem;
  /* Profits Table End */
}
#profits_table_container tr {
  border-bottom: 4px solid #2c323a;
}
#profits_table_container td {
  vertical-align: middle;
}
#profits_table_container input {
  height: 25px;
  background-color: #d3d8de;
}
#profits_table_container input::-webkit-inner-spin-button,
#profits_table_container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Calculations Container End */
/*////////////////////////////// Recipe Pages End //////////////////////////////*/
/*////////////////////////////// Media Queries //////////////////////////////*/
@media screen and (min-width: 320px) and (max-width: 575px) {
  /* Index Page */
  #cooking_col {
    margin-bottom: 10px;
  }

  #processing_col {
    margin-bottom: 10px;
  }
  #logo{
    flex: 0 0 100%;
    max-width: 100%;
}
  nav #nav_form{
     padding-left: 0px;
}

  /* Index Page End */
  /* Recipe Pages */
  #costs_col, #profits_col {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* Recipe Pages End */
}
@media screen and (max-width: 768px) {
  /* Navigation */
  nav {
    /* Navigation End*/
  }
  nav .dropdown-menu {
    margin-left: 10px;
  }
  nav .dropdown-menu span {
    display: inline-flex;
  }
  nav .dropdown-menu span img {
    display: none;
  }
  nav .dropdown-menu span a {
    float: left;
  }
  nav #collapse_container {
    max-width: 1%;
  }
  nav #nav_form {
    padding-left: 10px;
  }

  .image_row, .image_head {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
    max-width: 0%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1140px) {
  #collapse_container {
    max-width: 1%;
  }

  .image_row, .image_head {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
    max-width: 0%;
  }
}
@media screen and (max-width: 991px) {
  nav .dropdown-menu li img {
    padding-left: 5px;
  }
  nav .dropdown-menu li a {
    padding-left: 10px;
  }

  #collapse_container {
    max-width: 1%;
  }

  #profits_table_container {
    margin-top: 10px;
  }
  #search_div{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
}
/*////////////////////////////// Media Queries End //////////////////////////////*/

/*# sourceMappingURL=style.css.map */
