/*  End Vairables */
html {
  max-width: 1400px;
  margin: auto;
}

body {
  color: #FA7D10;
  font-family: "Bitter", serif;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #150D07;
  border-radius: 10px;
}

a:hover {
  color: #f5f5f5;
}

/*  Navigation Start */
nav {
  background-color: #282726;
  min-height: 80px;
}
nav a {
  color: #FA7D10;
  -webkit-transition: font-size 2s ease;
  -moz-transition: font-size 2s ease;
  -ms-transition: font-size 2s ease;
  -o-transition: font-size 2s ease;
  transition: font-size 2s ease;
}
nav a:hover {
  font-size: 1.25rem;
}
nav #nav_form {
  width: 100%;
  position: absolute;
}
nav .nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
nav .navbar-brand {
  -webkit-transition: font-size 2s ease;
  -moz-transition: font-size 2s ease;
  -ms-transition: font-size 2s ease;
  -o-transition: font-size 2s ease;
  transition: font-size 2s ease;
}
nav .navbar-brand:hover {
  font-size: 1.75rem;
}

/* Navigation End */
/* Index Page Jumbotron */
#index_banner {
  min-height: 400px;
  background-size: 400px;
  background-image: url("/assets/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#index_banner h1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 0px 20px 40px;
}

/* Index Page Jumbotron End */
/* Index Page Main Content */
#main_content {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #282726;
}
#main_content #main_content_row1 {
  padding-left: 5px;
  padding-right: 5px;
}
#main_content #main_content_row1 .card {
  margin: auto;
  color: #FA7D10;
  min-height: 500px;
  text-transform: uppercase;
  border: none;
}
#main_content #main_content_row1 .card .card-body {
  padding: 0px;
}
#main_content #main_content_row1 .card .card-body:hover {
  box-shadow: 0 4px 20px 0 #FA7D10, 0 6px 20px 0 #FA7D10;
  cursor: pointer;
}
#main_content #main_content_row1 .card .card-body:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 600px;
}
#main_content #main_content_row1 .card .card-body:hover .overlay h2 {
  padding-top: 250px;
}
#main_content #main_content_row1 .card .card-body .overlay {
  margin: auto;
  height: 60px;
  padding: 10px 0px 0px 0px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
#main_content #main_content_row1 .card .card-body .overlay h2 {
  margin-bottom: 0px;
  font-weight: bolder;
  -webkit-transition: padding-top 2s ease;
  -moz-transition: padding-top 2s ease;
  -ms-transition: padding-top 2s ease;
  -o-transition: padding-top 2s ease;
  transition: padding-top 2s ease;
}

#cooking_card {
  background-image: url("../assets/bdo_cooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#processing_card {
  background-image: url("../assets/bdo_processing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#alchemy_card {
  background-image: url("../assets/bdo_alchemy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Index Page Main Content End */
/* Footer */
.footer {
  visibility: hidden;
  /* Footer End */
}

/* Calculator Pages   */
 *
 * /* Calculator Jumbotron   */
#calc_jum {
  background-color: #343940;
  /* Calculator Jumbotron End   */
  /* Calculator Main Content   */
}
#calc_jum #calc_search_bar {
  margin: auto;
}
#calc_jum #calc_search_bar form {
  display: block;
  padding-top: 20px;
}

#calculator_main_content {
  padding-top: 40px;
  padding-bottom: 40px;
  /* Calculator Main Content End   */
}
#calculator_main_content #pagination_controls {
  height: 30px;
  float: right;
  margin-bottom: 5px;
  margin-top: -10px;
}
#calculator_main_content #pagination_controls .pagination_link {
  background-color: #FA7D10;
  padding: 5px 10px 20px 10px;
  vertical-align: middle;
  color: #282726;
  border-radius: 10px;
  margin-right: 3px;
  position: relative;
}
#calculator_main_content #pagination_controls .pagination_link:hover {
  color: #FA7D10;
  background-color: #282726;
}
#calculator_main_content #pagination_controls .second_pagination_link {
  background-color: #FA7D10;
  padding: 20px 10px 5px 10px;
  vertical-align: middle;
  color: #282726;
  border-radius: 10px;
  margin-right: 3px;
}
#calculator_main_content #pagination_controls .second_pagination_link:hover {
  color: #FA7D10;
  background-color: #282726;
}
#calculator_main_content #calculator_table {
  position: relative;
}
#calculator_main_content #calculator_table thead tr {
  background-color: #282726;
  color: #FA7D10;
}
#calculator_main_content #calculator_table tbody tr {
  border-bottom: 2px solid #d3d8de;
  border-top: 2px solid #d3d8de;
  border-left: 2px solid #d3d8de;
  border-right: 2px solid #d3d8de;
}
#calculator_main_content #calculator_table tbody tr:nth-child(odd) {
  background: #343940;
}
#calculator_main_content #calculator_table tbody tr:nth-child(even) {
  background: #282726;
}
#calculator_main_content #calculator_table tbody tr td {
  padding: 0px;
  border-right: 2px solid #d3d8de;
  vertical-align: middle;
}
#calculator_main_content #calculator_table tbody tr a {
  color: #FA7D10;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.05em;
}
#calculator_main_content #calculator_table tbody tr:hover {
  background-color: #d3d8de;
}
#calculator_main_content #calculator_table tbody tr:hover a {
  color: white;
}

/* Calculator Pages End */
/* Detials Page */
 *
 *
 * /* Top Page Container */
#proc_rates {
  /* Top Page Container End */
  /* Jumbotron */
}
#proc_rates #proc_rates_row {
  background-color: rgba(0, 0, 0, 0.7);
}
#proc_rates #proc_rates_row #craft_quantity {
  margin: auto;
  display: inline-block;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates #proc_rates_row #craft_quantity p {
  padding-right: 10px;
}
#proc_rates #proc_rates_row #craft_quantity #craft_quantity_input {
  width: 150px;
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #d3d8de;
}
#proc_rates #proc_rates_row #craft_quantity input::-webkit-inner-spin-button,
#proc_rates #proc_rates_row #craft_quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#proc_rates #proc_rates_row #tier1_proc {
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates #proc_rates_row #tier1_proc p {
  padding-right: 10px;
}
#proc_rates #proc_rates_row #tier1_proc input {
  width: 150px;
  height: 25px;
  padding-right: 10px;
  text-align: right;
  background-color: #d3d8de;
}
#proc_rates #proc_rates_row #tier1_proc input::-webkit-inner-spin-button,
#proc_rates #proc_rates_row #tier1_proc input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#proc_rates #proc_rates_row #tier2_proc {
  margin: auto;
  min-height: 50px;
  padding-top: 20px;
  text-transform: uppercase;
}
#proc_rates #proc_rates_row #tier2_proc p {
  padding-right: 10px;
}
#proc_rates #proc_rates_row #tier2_proc input {
  width: 150px;
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #d3d8de;
}
#proc_rates #proc_rates_row #tier2_proc input::-webkit-inner-spin-button,
#proc_rates #proc_rates_row #tier2_proc input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#details_jum {
  background-color: #343940;
  /* Jumbotron End */
  /* Calculations Container  */
}
#details_jum #recipeImage {
  padding-top: 5px;
  padding-bottom: 25px;
}
#details_jum #recipe_materials {
  background-color: rgba(0, 0, 0, 0.5);
}
#details_jum #recipe_materials table {
  width: 100%;
  margin: auto;
  color: #FA7D10;
}
#details_jum #recipe_materials table #recipe_quantity {
  padding-right: 20px;
  width: 25%;
}
#details_jum #recipe_materials table #material_name {
  padding-left: 75px;
}

#calculations_container {
  margin-bottom: 40px;
  /* Calculations Container End */
}
#calculations_container #t1 {
  padding-left: 15px;
  padding-right: 15px;
}
#calculations_container #t2 {
  padding-left: 15px;
  padding-right: 15px;
}
#calculations_container #first_table_container {
  width: 100%;
}
#calculations_container #first_table_container .table_title {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}
#calculations_container #first_table_container #first_table {
  color: #FA7D10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#calculations_container #first_table_container #first_table thead {
  border-bottom: 4px solid #2c323a;
}
#calculations_container #first_table_container #first_table #total_cost_head {
  width: 20%;
}
#calculations_container #first_table_container #first_table #image_head {
  width: 1%;
}
#calculations_container #first_table_container #first_table td {
  vertical-align: middle;
}
#calculations_container #first_table_container #first_table input {
  width: 100%;
  text-align: left;
  background-color: #d3d8de;
}
#calculations_container #first_table_container #first_table input::-webkit-inner-spin-button,
#calculations_container #first_table_container #first_table input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#calculations_container #second_table_container {
  width: 100%;
}
#calculations_container #second_table_container .table_title {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}
#calculations_container #second_table_container #second_table {
  color: #FA7D10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#calculations_container #second_table_container #second_table thead {
  border-bottom: 4px solid #2c323a;
}
#calculations_container #second_table_container #second_table input {
  width: 100%;
  height: 25px;
  text-align: left;
  margin: auto;
  background-color: #d3d8de;
}
#calculations_container #second_table_container #second_table input::-webkit-inner-spin-button,
#calculations_container #second_table_container #second_table input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .flex_table {
    padding-right: 0;
    padding-left: 0;
  }

  #image_row {
    display: none;
  }

  #profit_image_row {
    display: none;
  }

  #image_head {
    display: none;
  }

  .filler_1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #first_table thead {
    font-size: 0.8rem;
  }
  #first_table tbody {
    font-size: 0.8rem;
  }

  #second_table thead {
    font-size: 0.8rem;
  }
  #second_table tbody {
    font-size: 0.8rem;
  }

  #second_table_container {
    margin-top: 15px;
  }

  #image_row {
    display: none;
  }

  #profit_image_row {
    display: none;
  }

  #image_head {
    display: none;
  }

  .filler_1 {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1140px) {
  #first_table tbody {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  #second_table_container {
    margin-top: 15px;
  }
}
/* Media Queries End */
/* Detials Page End */

/*# sourceMappingURL=test.css.map */
